<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
这是freemaker整合，index.html页面
<h1>xdclass.net</h1>

<h1> ${setting.name} </h1>
<h1> ${setting.domain} </h1>

</body>
</html>